[data]
name = RGB
path = /home/sysadmin/STGADA/RGB
source = mscoco
target = flir
target_test = flir_test
class = 3

[sample]
strategy = stgada
init = 0
query_ratio = 0.02
totality = 20000

[param]
seed = 1
epoch = 50
lr = 0.1
beta = 0.033
batch = 32
weight_decay = 1e-4
use_cuda = 1
device = 0
num_worker = 2
log_interval = 2000
n_views = 1
ema_momentum = 0
stgada_lambda = 0.01
stgada_margin = 1.0

[mme]
reverse_weight = 1.0
lambda = 0.025
